/*! Made with Bones: http://themble.com/bones :) */

/******************************************************************
Site Name: austincodingacademy.com
Author: Phillip Alexander Meek

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.

Helpful articles on Sass file organization:
http://thesassway.com/advanced/modular-css-naming-conventions

******************************************************************/

/******************************************************************
Site Name: austincodingacademy
Author: Phillip Alexander Meek

Stylesheet: Custom Stylesheet

Edits made by Phillip Alexander Meek.
******************************************************************/

#main {
  width: 100%;
  margin-bottom: 60px;
}

#menu-main-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

body {
  position: relative;
  min-height: 100vh;
}

.footer {
  margin: 0 auto;
  width: 100%;
  height: 55px;
  bottom: 0ex;
}

.footer-text {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu-item-has-children:before, .menu-item-has-children:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 10px solid transparent;
  /* arrow size */
}

.menu-item-has-children {
  display: flex;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-has-children:after {
  position: relative;
  justify-content: flex-end;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #FFF;
  font-size: 0;
  line-height: 0;
  bottom: -22px;
}

.wrap {
  width: 95%;
}

.nav li:hover>ul {
  opacity: 1;
  transform: translate3d(7%, 33.25%, 0);
  transition-delay: 0s, 0s, 0.5s;
  transition-duration: 0.5s, 0.5s, 0s;
  transition-property: opacity, transform, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation: fade 1s;
  list-style: none;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}

.sub-menu {
  opacity: 0;
  transition-delay: 0s, 0s, 0.5s;
  transition-duration: 0.5s, 0.5s, 0s;
  transition-property: opacity, transform, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation: fade 1s;
  z-index: 99999;
}

.nav .sub-menu-difficult:hover>ul {
  transform: translate3d(7%, 25.05%, 0);
}