/* weird adjustment to make the pages go from edge to edge on the screen */

.widget {
  padding: 39px;
}

/* -------------- */

#menu-main-menu {
  position: relative;
  margin: 16px 0 7px 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;
}

nav {
  position: relative;
  bottom: -5px;
}

.menu-overlay.open {
  z-index: 9999999999999;
}

body {
  position: relative;
  min-height: 100vh;
  color: #222;
}

.hentry header {
  border-bottom: none;
  padding: 0;
}

.footer {
  position: relative;
  width: 100%;
  height: 57px;
  bottom: auto;
}

.footer-nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu-item-has-children:before, .menu-item-has-children:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 10px solid transparent;
  /* arrow size */
}

.menu-item-has-children {
  display: flex;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-has-children:after {
  position: relative;
  justify-content: flex-end;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #FFF;
  font-size: 0;
  line-height: 0;
  bottom: -22px;
}

.nav li ul.sub-menu, .nav li ul.children {
  margin-top: 0;
}

.sub-menu {
  opacity: 0;
  transition-delay: 0s, 0s, 0.75s;
  transition-duration: 0.75s, 0.75s, 0s;
  transition-property: opacity, transform, visibility;
  transition-timing-function: cubic-bezier(.01, 0, .01, 1);
  animation: fade 2s;
  z-index: 99999;
}

.nav li:hover>ul {
  opacity: 1;
  transform: translate3d(7%, 33.75%, 0);
  transition-delay: 0s, 0s, 0.5s;
  transition-duration: 0.5s, 0.5s, 0s;
  transition-property: opacity, transform, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation: fade 1s;
  list-style: none;
  -webkit-transition: opacity 600ms, visibility 600ms;
  -moz-transition: opacity 600ms, visibility 600ms;
  -o-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
  transform-style: preserve-3d;
}

.nav .sub-menu-difficult:hover>ul {
  transform: translate3d(7%, 25.25%, 0);
}

.nav ul {
  background-color: #F9B332;
}

.nav ul a {
  color: #121212;
}

.nav a:hover {
  color: #fff;
}

.nav li a {
  border-bottom: 2px solid transparent;
}

.nav li ul.sub-menu li a, .nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: flex;
  width: 180px;
  height: auto;
  border-bottom: 1px solid #121212;
}

.nav li ul.sub-menu, .nav li ul.children {
  border: 1.25px solid #e49607;
  top: 2.5px;
  float: none;
}

.nav li.austinLocation ul.sub-menu {
  top: 2px;
}

.nav li.sub-menu-difficult ul.sub-menu {
  top: 14px;
}

.nav li a:hover {
  position: relative;
  border-bottom: 2px solid #fff;
  height: 43px;
}

.sub-menu a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  transform-style: flat;
  opacity: 1;
  font-weight: 900;
}

.sub-menu a:hover, .sub-menu-difficult a:hover {
  background-color: #004568;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

.hentry {
  margin-bottom: 2.5em;
  border: none;
}

#inner-header {
  padding-top: 0;
}

#inner-header>a>img {
  display: inline-block;
  width: 70px;
  bottom: -18px;
  right: -20px;
  position: relative;
}

.header {
  min-height: 100px;
}

.nav li a:hover, .nav li a:focus {
  color: white;
  text-decoration: none;
}

.page-title, .byline, .vcard {
  display: none;
}

.widget-title {
  font-size: 2.2em;
}

section a {
  text-decoration: none;
  color: #004568;
}

a, a:visited {
  color: #F9B332;
}

a:hover, a:focus, a:visited:hover, a:visited:focus {
  text-decoration: underline;
  color: #F9B332;
}

.entry-content {
  padding-top: 0;
}

#applicationProcess {
  margin: 95px 0;
}

#applicationProcess span {
  color: #004568;
}

#getinTouch span {
  transition: all 0.4s ease-in-out 0s;
}

#getinTouch a {
  font-weight: 500;
  background-color: #004568;
}

#getinTouch a:hover {
  font-weight: 900;
  background-color: #F9B332;
  color: #000;
  text-decoration: none;
}

#getinTouch a:hover span {
  color: #000;
}

.footer-text a {
  color: #FFF;
}

.widget-title {
  text-align: center;
}

/* top slider styles */

.topSlider .widget {
  margin-top: -30px;
}

.topSlider {
  position: relative;
  margin-bottom: 90px;
  text-align: center;
}

.topSlider a {
  color: #004568;
}

.topSlider ul .textwidget {
  margin: 55px 0 5px 0;
}

.topSlider a[href="http://austincodingacademy.com/apply/"] {
  position: relative;
  top: -85px;
}

.topSlider a.lsow-button.lsow-large {
  font-weight: 500;
  background-color: #004568;
}

.topSlider a.lsow-button.lsow-large:hover {
  font-weight: 900;
  background-color: #F9B332;
  color: #000;
  text-decoration: none;
}

.calendarIcon {
  position: relative;
  top: -30px;
  left: -75px;
}

.calendarIcon span {
  font-size: 5em;
  color: #004568;
  display: flex;
  justify-content: center;
}

.whenandWhere {
  position: relative;
  top: -30px;
}

.topSlider .so-widget-sow-layout-slider-default-ac76dd95cbcb .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h4 {
  color: #333;
}

.whatitCosts {
  margin-left: 55px;
}

.whatitCosts h3 {
  text-align: left;
}

/* -------------- */

/* accordion widget styling */

.faqPanel {
  position: relative;
  bottom: -75px;
  margin-bottom: 120px;
}

.faqPanel .lsow-accordion.style1 .lsow-panel {
  margin-bottom: 25px;
  background-color: #004568;
  border-left: 15px solid #F9B332;
}

.faqPanel .lsow-accordion.style1 .lsow-panel .lsow-panel-title {
  color: #fff;
  background-color: #004568;
}

.faqPanel .lsow-accordion.style1 .lsow-panel .lsow-panel-title:hover {
  background-color: #F9B332;
  color: #222;
}

.faqPanel .lsow-accordion.style1 .lsow-panel .lsow-panel-title:after {
  font-size: 12pt;
  color: #fff;
  text-shadow: 1px 0 #fff;
  letter-spacing: 1px;
  font-weight: bold;
}

.faqPanel .lsow-accordion.style1 .lsow-panel .lsow-panel-title:hover:after {
  font-size: 12pt;
  color: #222;
  text-shadow: 1px 0 #222;
  letter-spacing: 1px;
  font-weight: bold;
}

.lsow-panel-content {
  color: #222;
}

.lsow-container button.slick-prev, .lsow-container button.slick-next {
  visibility: hidden;
}

/* -------------- */

/* company carousel */

.wp-caption-text {
  display: none;
}

.wp-caption {
  background-color: transparent;
}

.companyCarousel {
  position: relative;
  margin-bottom: 100px;
  overflow: hidden;
}

.companyCarousel .slick-slide {
  display: flex;
  justify-content: space-around;
}

/* -------------- */

/* bottom buttons main page */

#getinTouch {
  margin: 0 0 120px;
}

#getinTouch .lsow-button {
  margin: 0 auto;
  display: flex;
  width: 300px;
  height: 45px;
  line-height: 10px;
  justify-content: space-around;
}

#getinTouch .lsow-button span {
  line-height: 10px;
}

.getinTouchCells .widget {
  padding: 0;
}

/* -------------- */

/* 404 Page */

article#post-not-found {
  text-align: center;
  margin-bottom: 172px;
}

article#post-not-found input {
  margin: 20px auto;
}

/* -------------- */

/* terms & privacy / footer */

.footer-nav {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  top: -1px;
}

a[href="https://plus.google.com/+AustinCodingAcademy"], a[href="https://twitter.com/AustinCoding"], a[href="https://www.facebook.com/AustinCodingAcademy"], a[href="https://www.linkedin.com/company/austin-coding-academy"], a[href="https://www.instagram.com/austincodingacademy"] {
  font-size: 0;
}

a[href="https://plus.google.com/+AustinCodingAcademy"]:before {
  font-family: "FontAwesome";
  content: "\f0d5";
  font-size: 18pt;
  line-height: 50px;
}

a[href="https://twitter.com/AustinCoding"]:before {
  font-family: "FontAwesome";
  content: "\f099";
  font-size: 18pt;
  line-height: 50px;
}

a[href="https://www.facebook.com/AustinCodingAcademy"]:before {
  font-family: "FontAwesome";
  content: "\f082";
  font-size: 18pt;
  line-height: 50px;
}

a[href="https://www.linkedin.com/company/austin-coding-academy"]:before {
  font-family: "FontAwesome";
  content: "\f0e1";
  font-size: 18pt;
  line-height: 50px;
}

a[href="https://www.instagram.com/austincodingacademy"]:before {
  font-family: "FontAwesome";
  content: "\f16d";
  font-size: 18pt;
  line-height: 50px;
  font-weight: lighter;
}

/* -------------- */

.nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #B91428;
  left: 0;
}

/* 2560x 1600 */

@media (min-width: 2560px) {
  #inner-header>a>img {
    height: 95px;
    width: auto;
    bottom: -35px;
    right: -35px;
    position: relative;
  }
  .nav li.austinLocation ul.sub-menu {
    top: 2.5px;
  }
  .nav li.sub-menu-difficult ul.sub-menu {
    top: 14.5px;
    white-space: nowrap;
    height: 149px;
  }
  .topSlider a[href="http://austincodingacademy.com/apply/"] {
    position: relative;
    top: -100px;
  }
}

/* 1600x2560 */

@media (width: 1600px) and (max-width: 2559px) {
  #menu-main-menu {
    float: none;
    position: relative;
    top: -0.5px;
  }
  .nav li ul.sub-menu, .nav li ul.children {
    top: 3.5px;
  }
  ul.sub-menu {
    position: relative;
    width: 200px;
  }
  .nav .sub-menu a {
    height: 50px;
  }
  .nav .sub-menu li {
    position: relative;
    top: 0;
  }
  .nav li ul.sub-menu li a, .nav li ul.children li a {
    width: 200px;
    top: 0;
  }
  #inner-header>a>img {
    width: 90px;
    bottom: -30px;
    right: -25px;
    position: relative;
    height: 100%;
  }
  .nav li.austinLocation ul.sub-menu {
    top: 3.5px;
  }
  .nav li.sub-menu-difficult ul.sub-menu {
    top: 16px;
    white-space: nowrap;
    height: 149px;
  }
  .footer-links {
    position: relative;
    bottom: 1px;
  }
}

/*  random specific adjustment(s) */

@media only screen and (min-width: 1030px) {
  .wrap {
    width: 100%;
  }
  /* -------------- */
  /* 1280x800 */
  @media (width:1280px) and (max-width: 1599px) {
    #inner-header>a>img {
      width: 95px;
      bottom: -25px;
      right: -20px;
      position: relative;
      height: 100%;
    }
    .nav li ul.sub-menu, .nav li ul.children {
      top: 1.5px;
    }
    .nav li {
      position: relative;
      float: none;
      white-space: nowrap;
    }
    .nav li ul.sub-menu, .nav li ul.children {
      top: 2.5px;
    }
    .sub-menu-difficult ul {
      position: relative;
      height: 198px;
    }
    .dropdown ul>li {
      position: relative;
      right: -90px;
    }
    .nav li.sub-menu-difficult ul.sub-menu {
      top: 13.95px;
      white-space: nowrap;
      height: 149px;
    }
    .footer-links {
      position: relative;
      bottom: 2px;
    }
  }
  /* 1024x768 */
  @media (width:1024px) and (max-width:1279px) {
    #inner-content {
      width: 100%;
    }
    #inner-header>a>img {
      width: 80px;
      bottom: -22px;
      left: -105px;
      position: relative;
      height: 100%;
    }
    nav {
      position: relative;
      top: -30px;
    }
    #menu-main-menu {
      position: relative;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
      bottom: -28.5px;
    }
    .nav li.austinLocation ul.sub-menu {
      top: 2.5px;
    }
    .nav li.sub-menu-difficult ul.sub-menu {
      top: 16px;
      white-space: nowrap;
      height: 147px;
    }
    /* top slider styles */
    .topSlider a {
      color: #004568;
    }
    .topSlider ul .textwidget {
      margin: 55px 0 5px 0;
    }
    .topSlider a[href="http://austincodingacademy.com/apply/"] {
      position: relative;
      top: -125px;
    }
    .calendarIcon {
      position: relative;
      top: -50px;
      left: 0;
    }
    .calendarIcon span {
      font-size: 3em;
      color: #004568;
      display: flex;
      justify-content: center;
    }
    .whenandWhere {
      position: relative;
      top: -50px;
    }
    .topSlider .so-widget-sow-layout-slider-default-ac76dd95cbcb .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h4 {
      color: #333;
    }
    .whatitCosts {
      margin-left: 5px;
    }
    .whatitCosts h3 {
      text-align: center;
    }
    .linktoTuition {
      position: relative;
      top: -30px;
    }
    /* -------------- */
    #getinTouch {
      display: flex;
      flex-direction: column;
    }
    .footer-links {
      position: relative;
      bottom: -35px;
    }
  }
  /*  FIX THE HEADER and none of these rules work???  */
  /* 800x600 */
  @media (width:800px) {
    .header {
      min-height: 150px;
    }
    #inner-header>a>img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      right: -5px;
      position: relative;
    }
    #menu-main-menu {
      position: relative;
      float: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      list-style: none;
    }
    .nav li ul.sub-menu, .nav li ul.children {
      top: 1.5px;
    }
    .nav li.austinLocation ul.sub-menu {
      top: 1px;
    }
    .nav li.sub-menu-difficult ul.sub-menu {
      height: 151px;
      transform: translate3d(7%, 25.25%, 0);
      top: 13.5px;
    }
    /* top slider styles */
    .topSlider a {
      color: #004568;
    }
    .topSlider ul .textwidget {
      margin-top: 55px;
    }
    .topSlider a[href="http://austincodingacademy.com/apply/"] {
      position: relative;
      top: -85px;
    }
    .calendarIcon {
      position: relative;
      top: -50px;
      left: 0;
    }
    .calendarIcon span {
      font-size: 3em;
      color: #004568;
      display: flex;
      justify-content: center;
    }
    .whenandWhere {
      position: relative;
      top: -50px;
    }
    .topSlider .so-widget-sow-layout-slider-default-ac76dd95cbcb .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h4 {
      color: #333;
    }
    .whatitCosts {
      margin-left: 5px;
    }
    .whatitCosts h3 {
      text-align: center;
    }
    .linktoTuition {
      position: relative;
      top: -30px;
    }
    /* -------------- */
    #getinTouch {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  /* 768x1024 */
  @media (width:768px) and (max-width:799px) {
    .header {
      min-height: 150px;
    }
    #inner-header>a>img {
      width: 95px;
      bottom: -10px;
      right: -25px;
      position: relative;
      height: 100%;
    }
    .nav li ul.sub-menu, .nav li ul.children {
      top: 3.5px;
    }
    .nav li.austinLocation ul.sub-menu {
      top: 3px;
    }
    .nav li.sub-menu-difficult ul.sub-menu {
      top: 15.5px;
      white-space: nowrap;
      height: 149px;
    }
    /* top slider styles */
    .topSlider a {
      color: #004568;
    }
    .topSlider ul .textwidget {
      margin: -20px 0 5px 0;
    }
    .topSlider a[href="http://austincodingacademy.com/apply/"] {
      position: relative;
      top: -310px;
    }
    .calendarIcon {
      position: relative;
      top: -25px;
      left: 0;
      font-size: 12px;
    }
    .calendarIcon span {
      font-size: 3em;
      color: #004568;
      display: flex;
      justify-content: center;
    }
    .whenandWhere {
      position: relative;
      top: -40px;
      font-size: 12px;
    }
    .topSlider .so-widget-sow-layout-slider-default-ac76dd95cbcb .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h4 {
      color: #333;
    }
    .whatitCosts {
      margin-left: 5px;
    }
    .whatitCosts h3 {
      text-align: center;
    }
    .linktoTuition {
      position: relative;
      top: -30px;
    }
    /* -------------- */
  }
  #getinTouch {
    display: flex;
    flex-direction: column;
  }
}

/* the 767 content bump */

@media (max-width:767px) {
  #content {
    position: relative;
    margin-top: 405px;
  }
}

/* 600x800 */

@media (width:600px) and (max-width:799px) {
  #inner-header {
    height: 140px;
  }
  #menu-main-menu {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    left: -5px;
    bottom: -90px;
  }
  nav li {
    font-size: 10pt;
  }
  nav a {
    display: inline-flex;
  }
  #inner-header>a>img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
    margin: 40px 20px 40px 234px;
  }
  .menu-item-has-children:after {
    width: 1px;
    left: -6px;
    bottom: -17px;
  }
  .nav li ul.sub-menu, .nav li ul.children {
    position: absolute;
    width: 165px;
    top: 6.5px;
    height: 123px;
  }
  .nav li ul.sub-menu li a, .nav li ul.children li a {
    padding-left: 10px;
    border-right: 0;
    display: flex;
    width: 165px;
    height: auto;
    border-bottom: 1px solid #121212;
  }
  .nav li.austinLocation ul.sub-menu {
    top: 6.5px;
    white-space: nowrap;
    height: 123.5px;
  }
  .nav li.sub-menu-difficult ul.sub-menu {
    top: 16.5px;
    white-space: nowrap;
    height: 123.5px;
  }
  /* top slider styles */
  .topSlider a {
    color: #004568;
  }
  .topSlider ul .textwidget {
    margin: -20px 0 5px 0;
  }
  .topSlider a[href="http://austincodingacademy.com/apply/"] {
    position: relative;
    top: -310px;
  }
  .calendarIcon {
    position: relative;
    top: -55px;
    left: 0;
    font-size: 12px;
  }
  .calendarIcon span {
    font-size: 3em;
    color: #004568;
    display: flex;
    justify-content: center;
  }
  .whenandWhere {
    position: relative;
    top: -90px;
    font-size: 12px;
  }
  .topSlider .so-widget-sow-layout-slider-default-ac76dd95cbcb .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h4 {
    color: #333;
  }
  .whatitCosts {
    margin-left: 5px;
  }
  .whatitCosts h3 {
    text-align: center;
  }
  .linktoTuition {
    position: relative;
    top: -30px;
  }
  /* -------------- */
  #getinTouch {
    display: flex;
    flex-direction: column;
  }
  .footer-links {
    position: relative;
    margin: 0 auto;
    top: 2px;
    display: flex;
    z-index: 30;
  }
  .footer-nav a {
    margin: 0 20px;
  }
}

@media (width:320px) {
  #inner-header>a>img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11vh;
    height: auto;
    bottom: -40px;
    position: relative;
  }
  .nav {
    height: 590px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  #menu-main-menu li ul.sub-menu {
    flex-basis: 100%;
    opacity: 1;
    height: 100%;
  }
  /*   .sub-menu {
    opacity:1;
    display:inline-block;
  } */
  .menu-item-has-children:after {
    position: relative;
    bottom: -22px;
  }
  #getinTouch {
    display: flex;
    flex-direction: column;
  }
}

/* position absolute on:click for sub-menu */