/******************************************************************

Author: Another Students styles

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.

******************************************************************/

.fullWidthNoBorder {
    width: 100%!important;;
    padding: 0px!important;
    margin:0px!Important;
}

.button_container{
	display:none;
}


.contactForm .sow-contact-form {
    background: #fff;
    border:none;
}

.contactForm input{
    background:transparent;
    font-size:12px!important;
}

.fullWidthNoBorder .entry-content {
    padding: 0px;
}

.lsow-stats-bars .lsow-stats-bar .lsow-stats-title span{
	display:none;
}

.contactForm .sow-submit {
    font-size: 1em!important;
    padding: 1em 2em!important;
    background: #f9b232!important;
    color: #ffffff !important;
    border: 1px solid #f9b232!important;
}

#inner-header {
    padding-top: 15px;
}

.headerWithBackground{
	   min-height: 100px;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #f9b232!important;
}

.headerWithBackgroundTitle{
	    text-align: center;
    color: #ffffff;
    line-height: 1.4em;
    font-size: 40px;
    display:block!important;
}


.mobileNav{
	display:none;
}

@media screen and (max-width: 767px)  {
	.desktopNav {
    display: none!important;
}

.button_container{
	display:block;
}
	
}

@media screen and (max-width: 766px)  { 

.mobileNav{
	display:block!important;
}
.hamburger {
    width: 40px;
    height: 28px;
    position: absolute;
    cursor: pointer;
    display: inline-block;
    z-index: 103;
    right: 30px;
    top: 30px;
}
.hamburger span {
  background: #fff;
  display: block;
  position: absolute;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  -moz-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  -o-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  opacity: 1;
  width: 100%;
  left: 0;
}
.hamburger span:nth-child(1) {
  top: 0px;
}
.hamburger span:nth-child(2) {
  top: 12px;
}
.hamburger span:nth-child(3) {
  top: 24px;
}
.hamburger.open span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.hamburger.open span:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.mobileNav .menu-item-has-children {
    height: auto;
}

.mobileNav .menu-item {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    float: left;
    margin: 20px;
    max-height: 75px;
    position: relative;
    padding: 20px;
    font-size: 30px;
    text-decoration: none!important;
}

.mobileNav ul {
    height: 100%;
    float: left;
}

.mobileNav .menu-item li a {
    text-decoration: none;
}

.mobileNav .menu-item a {
    text-decoration: none!important;
}


.menu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #5482ab;
  opacity: 0;
  visibility: visible;
  z-index: 99;
  text-align: center;
  display: table;
  -webkit-transition: visibility 0.5s ease, opacity 1s ease;
  -moz-transition: visibility 0.5s ease, opacity 1s ease;
  -o-transition: visibility 0.5s ease, opacity 1s ease;
  transition: visibility 0.5s ease, opacity 1s ease;
}
.menu-overlay.open {
  opacity: 1;
  visibility: visible;
  z-index:100;
}
.nav {
  display: table-cell;
  vertical-align: middle;
}
.nav li {
  margin: 20px 0;
  -moz-transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.open .nav li {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.open .nav li:nth-child(1) {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}
.open .nav li:nth-child(2) {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}
.open .nav li:nth-child(3) {
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}
.open .nav li:nth-child(4) {
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}
.open .nav li:nth-child(5) {
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
}
.open .nav li:nth-child(6) {
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}
.open .nav li:nth-child(7) {
  -webkit-transition-delay: 700ms;
  transition-delay: 700ms;
}
.open .nav li:nth-child(8) {
  -webkit-transition-delay: 800ms;
  transition-delay: 800ms;
}
.nav a {
  display: block;
  color: #fff;
  font-size: 32px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav a:hover{
  opacity: 0.6;
}


}



