/******************************************************************

Author: Another Students styles

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.

******************************************************************/

.fullWidthNoBorder {
    width: 100%!important;;
    padding: 0px!important;
    margin:0px!Important;
}


.contactForm .sow-contact-form {
    background: #fff;
    border:none;
}

.contactForm input{
    background:transparent;
    font-size:12px!important;
}

.fullWidthNoBorder .entry-content {
    padding: 0px;
}

.lsow-stats-bars .lsow-stats-bar .lsow-stats-title span{
	display:none;
}

.contactForm .sow-submit {
    font-size: 1em!important;
    padding: 1em 2em!important;
    background: #f9b232!important;
    color: #ffffff !important;
    border: 1px solid #f9b232!important;
}

#inner-header {
    padding-top: 15px;
}

.headerWithBackground{
	   min-height: 100px;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #f9b232!important;
}

.headerWithBackgroundTitle{
	    text-align: center;
    color: #ffffff;
    line-height: 1.4em;
    font-size: 40px;
    display:block!important;
}


@media only screen and (min-device-width: 668px) {
	.desktopNav {
    display: none;
}
	
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 



.mobilemobilemobileContainer {
  position: absolute;
  width: 100%;
  heigh: 100%;
  text-align: center;
  top: 40%;
  left: 0;
  margin: 0 auto;
  font-family: 'Varela Round', sans-serif;
}
.mobilemobileContainer p {
  font-size: 20px;
}
.mobilemobileContainer a {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #1abc9c;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  top: 5px;
}
.mobilemobileContainer a:after {
  content: '';
  position: absolute;
  background: #1abc9c;
  height: 2px;
  width: 0%;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  transition: .35s ease;
}
.mobilemobileContainer a:hover:after, .mobilemobileContainer a:focus:after, .mobilemobileContainer a:active:after {
  width: 100%;
}

h1 {
  position: relative;
  text-align: center;
  font-family: 'Varela Round', serif;
}

.button_mobilemobileContainer {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
}
.button_mobilemobileContainer:hover {
  opacity: .7;
}
.button_mobilemobileContainer.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_mobilemobileContainer.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_mobilemobileContainer.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_mobilemobileContainer span {
  background: #1abc9c;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}
.button_mobilemobileContainer span:nth-of-type(2) {
  top: 11px;
}
.button_mobilemobileContainer span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #1abc9c;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Varela Round', serif;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: .35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}


}



