/******************************************************************

Author: Another Students styles

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.

******************************************************************/

.fullWidthNoBorder {
    width: 100%!important;;
    padding: 0px!important;
    margin:0px!Important;
}


.contactForm .sow-contact-form {
    background: #fff;
    border:none;
}

.contactForm input{
    background:transparent;
    font-size:12px!important;
}

.fullWidthNoBorder .entry-content {
    padding: 0px;
}

.lsow-stats-bars .lsow-stats-bar .lsow-stats-title span{
	display:none;
}

.contactForm .sow-submit {
    font-size: 1em!important;
    padding: 1em 2em!important;
    background: #f9b232!important;
    color: #ffffff !important;
    border: 1px solid #f9b232!important;
}

#inner-header {
    padding-top: 15px;
}

.headerWithBackground{
	   min-height: 100px;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #f9b232!important;
}

.headerWithBackgroundTitle{
	    text-align: center;
    color: #ffffff;
    line-height: 1.4em;
    font-size: 40px;
    display:block!important;
}
